<!DOCTYPE html>
<html>
    <head>
        <title>Public links</title>
        <link href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css" rel="stylesheet"/>
        <style>
            .body {
                width: 80%;
                max-width: 950px;
                margin: 30px auto 0;
            }

            @media (prefers-color-scheme: dark) {
                html {
                    background-color: black;
                }

                .title, .table {
                    color: white;
                    background-color: black;
                }

                th {
                    color: white !important;
                }

                a:hover {
                    color: white;
                }
            }
        </style>
        <script src="https://unpkg.com/darkreader@4.9.27/darkreader.js"></script>
        <script>
            DarkReader.disable();
        </script>
    </head>
    <body>
        <div class="body">
            <h2 class="title is-2">Public links</h2>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Destination</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                        <tr>
                            <td>
                                <a href="/{{ link.name }}">/{{ link.name }}</a>
                            </td>
                            <td>
                                <a href="{{ link.url }}">{{ link.url }}</a>
                            </td>
                            <td>
                                {{ link.description }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
